extends layout

block content
  h1 Members Area
  p Welcome to the members area

  h1 Article 1
  p This is a blog want to read more click the link below

  a(href = '/') ReadMore

  h1 Article 2
  p This is a blog want to read more click the link below

  a(href = '/') ReadMore

  h1 Article 3
  p This is a blog want to read more click the link below

  a(href = '/') ReadMore
